[run]
branch = True
parallel = True
omit =
    tests/*
    env/*
command_line = -m pytest -n auto

[report]
precision = 2
sort = Cover

[html]
directory = coverage
extra_css = coverage_assets/coverage.css
title = ${APP_NAME-Python Flask Ariadne API Starter Test} Coverage